a{
    font-size: 14pt;
    color: blue;
    text-decoration: none;
}

a:hover{
    color: skyblue;
}

input[type=checkbox]{
    transform: scale(1.5);
}

form div, form div label, form div input, form div select{
    font-size: 14pt;
    margin-bottom: 5px;
}

form div span{
    padding-right: 10px;
}

form div input, form div select{
    border-radius: 5px;
}

form{
    padding-top: 20px;
}

.tbl{
    display: table;
}

.tbl > div{
    display: table-row;
}

.tbl > div > label, .tbl > div > input{
    display: table-cell;
    padding-right: 20px;
}

input[type="submit"]{
    margin-top: 20px;
}