form{
    display: table;
    padding-top: 20px;
}

form div{
    display: table-row;
    line-height: 40px;
    font-size: 14pt;
}

form div label, form div input, form div select{
    display: table-cell;
    font-size: 14pt;
}

form div label{
    padding-right: 50px;
}

form div input, form div select{
    border-radius: 5px;
}

input[name="actor_name"]{
    width: 300px;
}

input[name="actor_roles"]{
    width: 100px;
}

input[name="actor_episodes"]{
    width: 180px;
}

a{
    font-size: 14pt;
    color: blue;
    text-decoration: none;
}

a:hover{
    color: skyblue;
}

input[type=checkbox]{
    transform: scale(1.5);
}